
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h2>@Model.Name</h2>

	<ul>
		<li><h4> Membership Type :@Model.MembershipTypeId.MembershipTypeName</h4></li>
		@if (@Model.BirthDate != null)
	{
		<li><h4>Birth Date: @Model.BirthDate</h4></li>
}
	</ul>

</div>

